.columnLabel{
	background-color: #701413;
    color: white;
    font-weight: bold;
    padding: 14px 4px;
}

.columnLabel, .paymentRow td{
	border:1px groove black;
}

.paymentRow td{
	padding:4px;	
}